@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');

.wraperSearch {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.inputSearch {
  font-family: 'Preahvihear', sans-serif;
  outline: none;
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 8px;
  padding-left: 15px;
}

.inputSearch:focus {
  border: 1px solid rgb(81, 4, 159) 2;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
}

.btnSubmit {
  font-family: 'Preahvihear', sans-serif;
  margin-left: 15px;

  padding-top: 5px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  transition: 250ms linear;
}

.btnSubmit:hover {
  cursor: pointer;
  background-color: rgb(81, 4, 159);
}
