@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');

.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
}

.spanName,
.spanRewiev {
  font-weight: 500;
}

.btnHide {
  font-family: 'Preahvihear', sans-serif;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}
