@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');


.linkPopulary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: black;
  transition: 250ms linear;
  color: darkblue;
  text-decoration: none;
}

.linkPopulary:hover,
.linkPopulary:focus {
  color: white;
}

.title {
  font-family: 'Preahvihear', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  color: white;
}

.slick-slider {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.slick-slide {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.slick-slide img {
  max-width: 100%;
  height: 280px;
  border-radius: 8px;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
