@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');

.itemCardMovies {
    border: 1px solid black;
    width: 300px;
    
}

.itemCardMovies {
    padding: 5px 15px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    transition: 250ms linear;
  }
  
  .itemCardMovies:hover,
  .itemCardMovies:focus {
    transform: scale(110%);
    border: 1px solid rgb(255, 255, 255);
  }

  .imgCast {
    max-width: 100%;
    height: 280px;
  }
/* 
  .linkPopulary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  } */

  .originalName {
    font-family: 'Preahvihear', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: white;
  }
  
  .linkPopulary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    color: black;
    transition: 250ms linear;
    color: darkblue;
    text-decoration: none;
  }
  
  .linkPopulary:hover,
  .linkPopulary:focus {
    color: white;
  }

  .title {

        font-family: 'Preahvihear', sans-serif;
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
        color: white;

  }
  
  