@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');

  .sectionCinemas {
    margin-top: 30px;
  }
  
  .sectionTitleCinemas {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
  }
  
 
  
  
  .link {
    text-decoration: none;
    min-width: 100%;
  }
  
  .listCinemas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-top: 40px;
  }