.beforePageBtn {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    background-color: inherit;
    font-family: 'Preahvihear', sans-serif;
    transition: 250ms linear;
}

.beforePageBtn:hover,
.beforePageBtn:focus {
    transform: scale(110%);
    cursor: pointer;
}

