.scrollBtn {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Preahvihear', sans-serif;
    border: none;
    background-color: transparent;
    color: white;
  }
  
  .scrollBtn:hover {
      cursor: pointer;
  }
  