@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');



.listPopulary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.title {
  font-family: 'Preahvihear', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}


@media screen and (max-width: 599px) {
  .listPopulary {
  gap: 100px;
    
  }
  
}