@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
}

.linkPage {
  font-family: 'Preahvihear', sans-serif;
  display: block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: 250ms linear;
}

.linkPage:hover,
.linkPage:focus {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.wrapHeader {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  background-color: rgb(49, 44, 49, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  text-align: center;
}

.active {
  background-color: black;
}
