@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');



.mainContent {
margin: 0 auto;
}

.linkPage {
  font-family: 'Preahvihear', sans-serif;
  display: block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: 250ms linear;
}

.linkPage:hover,
.linkPage:focus {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.wrapHeader {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footerContainer {

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  background-color: rgb(49, 44, 49, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  text-align: center;
  margin-top: 30px;
  border-radius: 8px;
}

.active {
  background-color: black;
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  
  .linkPage {
    padding: 10px 40px;
    border: 1px solid black;
    width: 100%;
    font-size: 25px;
    

  }
  .wrapper {

    padding-right: 15px;
    padding-left: 15px;
  }


  .wrapHeader {
    padding-top: 20px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 599px) {
  .wrapper {

    padding-right: 15px;
    padding-left: 15px;
  }
  .linkPage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    font-size: 45px;
    font-weight: 700;
  }

  .wrapHeader {
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
   margin-bottom: 20px;
  }

  .footerContainer {
    flex-direction: column;
  }
}
