.listGenreMovie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.wrapperPaginationBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .wrapperPaginationBtn {
    justify-content: space-around;
  }
}

@media screen and (max-width: 599px) {
  .listGenreMovie {
    gap: 20px;
    overflow-x: hidden;
  }
}
