@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');


.wrapperVideoPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -8px -10px 20px 6px rgba(0, 0, 0, 0.11);
}

.videoPlayer {
    border-radius: 10px;
}


.textNotTrailer {
    font-family: "Montserrat",sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
