
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');

.movieDetailsContainer {
   border: 1px solid black;
}

.imgPoster {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 400px;
}

.title {
    font-family: 'Preahvihear', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.description {
    font-family: 'Preahvihear', sans-serif;
    color: blue;
    width: 550px;
    margin: 0 auto;
}