@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Preahvihear&display=swap');

.linkContainer {
  padding: 5px 15px;
  width: 200px;
  border: 1px solid black;
  border-radius: 8px;
  transition: 250ms linear;
}

.linkContainer:hover,
.linkContainer:focus {
  transform: scale(110%);
  border: 1px solid rgb(255, 255, 255);
}

.imgPoster {
  max-width: 100%;
  height: auto;
}

.linkPopulary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.originalName {
  font-family: 'Preahvihear', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  color: white;
}

.linkPopulary {
  color: black;
  transition: 250ms linear;
  color: darkblue;
  text-decoration: none;
}

.linkPopulary:hover,
.linkPopulary:focus {
  color: white;
}
